{% extends 'base.html.twig' %}

{% block title %}Mon portfolio
{% endblock %}

{% block body %}
	<div class="page-header">
		<h2>Mentions légales</h2>
	</div>
	<div class="page-header-after"></div>

	<div class="page-content section" id="mentions">
		<p>Vous trouverez sur cette page les informations légales concernant le site web <a class="custom-link" href="www.charlottesaury.fr" target="_hblank">www.charlottesaury.fr</a>.

		<h3>Réalisation et hébergement</h3>
		<p>Ce site web a été réalisé par: </br>
		<strong>Charlotte SAURY</strong></br>
		16 rue du bois</br>
		56250 SAINT NOLFF</br>
		06 48 08 35 40</br>
		saury.charlotte@wanadoo.fr</br>
		<a class="custom-link" href="www.charlottesaury.fr" target="_hblank">www.charlottesaury.fr</a></p>
			
		<p>Ce site web est hébergé par:</br>
		<strong>1&1 IONOS SARL</strong></br>
		7, place de la Gare</br>
		BP 70109</br>
		57200 Sarreguemines C</br>
		0970 808 911</br>
		<a class="custom-link" href="www.ionos.fr" target="_hblank">www.ionos.fr</a></p>

		<h3>Crédit photo</h3>
		<p>Le vecteur principal du site provient de la banque de vecteurs <a class="custom-link" href="https://fr.freepik.com/vecteurs/technologie" target="_hblank">Freepik.com</a> et a été créé par <a class="custom-link" href="https://fr.freepik.com/vectorjuice" target="_hblanl">Vectorjuice</a>. Les autres vecteurs sont issus de la banque <a class="custom-link" href="https://www.freepng.fr" target="_hblank">Freepng.fr</a></p>
		
		<h3>Politique de confidentialité</h3>
	 	<p>Les données personnelles collectées par <a class="custom-link" href="www.charlottesaury.fr" target="_hblank">www.charlottesaury.fr</a> sont uniquement destinées à un usage interne. En aucun cas ces données ne seront cédées ou vendues à des tiers. Votre adresse e-mail ne sera ni stockée, ni réutilisée, sauf en réponse à une demande de contact. Vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données qui vous concernent.
		</p>


		<h3>Politique de cookies</h3>
		<p>Un « cookie » est un fichier texte qui enregistre des informations relatives à la navigation de votre terminal (ordinateur, tablette, Smartphone…). 
		Seul l’émetteur du cookie, est susceptible de lire ou modifier les informations qui y sont contenues. Il ne peut contenir de virus.
		A tout moment, vous pouvez lire, supprimer ou désactiver ces cookies grâce au paramétrage de votre propre navigateur.
		
		Nous utilisons des cookies sur le site afin de simplifier votre navigation et de vous présenter des informations plus pertinentes. Nous vous informons qu’en désactivant ces cookies, vous risquez de rencontrer des problèmes de navigation.

		D’autres cookies nous permettent d’établir des statistiques de fréquentation et d’utilisation des divers éléments composant le site internet (rubriques et contenus visités, parcours). Ces données nous permettent d’améliorer l’intérêt et l’ergonomie du site et d’adresser des problèmes de performance.

		Pour cela, le site internet utilise les solutions Google Analytics . Ces cookies ne stockent qu’un  » identifiant  » et ne sont en aucun cas utilisés pour recueillir des informations nominatives sur les visiteurs.
		Les données recueillies ne sont pas cédées à des tiers. Si vous souhaitez retirer le cookie Google Analytics, vous pouvez vous reporter à la page Internet de Google portant sur le respect de la vie privée et y suivre les <a href="https://tools.google.com/dlpage/gaoptout?hl=fr" target="_hblank">indications fournies</a>. 
		</p>
	</div>
{% endblock %}
