/* ****** COLOR ********/

/* 
Lavender #C96ED9
Azure #3567AD
Blush #BC4167
Chalky #EDC990 
*/

/* ****** GLOBAL ********/


body {
    margin: 0;
    font-family: 'Heebo', sans-serif;
}


h1, h2, h3, .logo {
    font-family: 'Finger Paint', cursive;
    text-transform: uppercase;
}

h3 {
    font-size: 32px;
    color: #edc990;
    font-weight: bold;
}

h5 {
    font-size: 1rem;
}

button {
    width: 165px;
    height: 37px;
    justify-content: center;
    padding: 10px 20px;
    background-color: #bc4167;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 1px 6px -1px grey;
    margin: 10px;
    transform: scale(1);
    transition: transform 0.2s;
}

button:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
    background-color: #a03555;
}

.section {
    padding-left: 110px;
    padding-right: 110px;
}

/* ****** NAV ********/

.nav {
    background-color: whitesmoke;
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: brown;
    margin: 0 10px;
}

.nav .logo img {
    height: 50px;
}

/* ****** FOOTER ********/

footer {
    height: 75px;
    width: 100%;
    background-color: black;
    
}

/**************************/
/* ****** HOMEPAGE ********/
/**************************/

/* ****** HEADER **********/

.home-header {
    height: 92vh;
    display: flex;
    align-items: center;
    padding: 0 20px 0 50px;
}

.home-title-div {
    min-width: 40%;
}

.home-title-div h1 {
    position: relative;
    font-size: 45px;
    margin-bottom: 65px;
}

.home-title-div h1:after {
    content: "";
    width: 250px;
    height: 6px;
    background: linear-gradient(to right, #bc4167, #edc990);
    position: absolute;
    bottom: -15px;
    left: 0;
    border-radius: 2px;
}

.home-header-btn {
    display: flex;
}

.home-header-btn button {
    display: flex;
}

.home-design-div img {
    max-width: 100%;
}

.header-after-section {
    border-top: 50px solid white;
    border-left: 50vw solid whitesmoke;
    border-bottom: 50px solid whitesmoke;
    border-right: 50vw solid white;
}

/* ****** ABOUT **********/

.about-div {
    padding-top: 100px;
    padding-bottom: 135px;
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
}

.square-div {
    min-width: 300px;
    position: relative;
}

.square {
    background-color: #a03555;
    position: relative;
    height: 250px;
    width: 250px;
}

.square:before {
    background-color: hsla(330, 5%, 8%, 0.624);
    content: "";
    position: absolute;
    top: 50px;
    left: 50px;
    height: 250px;
    width: 250px;
}

.square-title {
    color: white;
    text-transform: uppercase;
    font-size: 38px;
    font-weight: bold;
    position: absolute;
    bottom: -65px;
    left: 60px;
    margin: 0px;
    font-family: 'Heebo', sans-serif;
}

.about-text-div {
    max-width: 65%;
    margin-left: 50px;
    padding-top: 25px;
}

.about-after-section {
    border-top: 50px solid whitesmoke;
    border-left: 50vw solid whitesmoke;
    border-bottom: 50px solid white;
    border-right: 50vw solid white;
}

/* ****** SKILLS **********/

.skills-div {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div-section-title {
    text-align: center;
    margin-bottom: 50px;
}

.div-section-title p {
    width: 80%;
    margin: auto;
}

.skills-div-skills {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.skills-card-div {
    min-width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.skills-card-div .skills-card-title {
    background-color: #EDC990;
    display: inline-block;
    padding: 15px 25px;
    position: relative;
    bottom: -30px;
}

.skills-card-div .skills-card-title:before {
    content: "";
    height: 66px;
    width: 100%;
    position: absolute;
    bottom: 12px;
    left: 12px;
    background-color: hsla(330, 5%, 8%, 0.624);
}

.skills-card-div .skills-card-title h4 {
    color: #EDC990;
    z-index: 100;
    position: relative;
    text-transform: uppercase;
    margin: 0;
    font-size: 22px;
    bottom: -13px;
}

.skills-card-div .skills-card-content {
    background-color: whitesmoke;
    padding: 50px 15px 30px 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.skills-card-div .skills-card-content .skills-card-content-logo {
    display: flex;
    flex-direction: column;
}

.skills-card-div .skills-card-content .techno-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills-card-div .skills-card-content .techno-card img {
    margin-right: 20px;
}

.skills-card-div .skills-card-content .techno-level {
    display: flex;
}

.skills-plain-level {
    background-color: #edc990;
}

.skills-empty-level {
    background-color: white;
}

.skills-plain-level, .skills-empty-level {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    margin-right: 5px;
}

.skills-card-content-logo {
    width: 80%;
}

.skills-after-section {
    border-top: 50px solid white;
    border-left: 50vw solid white;
    border-bottom: 50px solid whitesmoke;
    border-right: 50vw solid whitesmoke;
}


