/************************/
/* ****** GLOBAL ********/
/************************/

body {
    margin: 0;
    font-family: 'Heebo', sans-serif;
}


h1, h2, h3 {
    font-family: 'Lobster', cursive;
}

h2 {
    margin-bottom: 70px;
    font-weight: 100;
}

h3 {
    font-size: 40px;
    color: #edc990;
    font-weight: bold;
}

h5 {
    font-size: 1rem;
}

.custom-btn {
    text-decoration: none;
    width: 165px;
    text-align: center;
    padding: 10px 20px;
    background-color: #bc4167;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 1px 6px -1px grey;
    margin: 10px;
    transform: scale(1);
    transition: transform 0.2s;
}

.custom-btn:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
    background-color: #a03555;
}

.custom-link {
    color: #a03555;
    text-decoration: none;
}

.custom-link:hover {
    color: #edc990;
}

.section {
    padding-left: 110px;
    padding-right: 110px;
}

input, textarea, select {
    background-color: whitesmoke;
    border: none;
    width: 85%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

@media(max-width: 950px) {
    .section {
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media(max-width: 500px) {
    .section {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.page-header {
    background-color: rgba(160, 53, 85, 0.7);
    height: 75px;
    color: white;
    text-align: center;
    padding-top: 50px;
    position: relative;
    border-top: 67px solid whitesmoke;
}

.page-header-after {
    border-top: 75px solid  rgba(160, 53, 85, 0.7);
    border-left: 48vw solid rgba(160, 53, 85, 0.7);
    border-bottom: 75px solid transparent;
    border-right: 50vw solid transparent;
    margin-bottom: 50px;
    position: relative;
}

.page-header:after {
    content: "";
    height: 201px;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -100;
}

.page-header .custom-link {
    color: white;
    position: relative;
    z-index: 1000;
}

.page-header h2 {
    margin-bottom: 30px;
}

.page-header .custom-link:hover {
    color: #edc990;
}

.page-description {
    text-align: center;
}

.page-content {
    padding: 60px;
}

.alert-success {
    padding: 15px;
    background-color:  #edc990;
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: 40px;
}

.alert-error {
    padding: 15px;
    background-color: rgba(160, 53, 85, 0.7); ;
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: 40px;
}

.alert-success i, .alert-error i {
    margin-right: 10px;
}

.scrolled-arrow {
    position: fixed;
    right: 20px;
    bottom: 20px;
    opacity: 0.5;
    font-size: 35px;
}

/* ****** NAV ********/

.nav {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 2000;
    box-sizing: border-box;
    padding: 5px 20px;
}

.nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: brown;
    margin: 0 10px;
    font-weight: bold;
}

.nav .logo img {
    height: 50px;
    z-index: 5;
}

.scrolled {
    background-color: whitesmoke;
    box-shadow: 0px -4px 10px 0px;
}

#nav-burger-button {
    display: none;
    cursor: pointer;
    background: none;
    border: none;
    color:  rgba(160, 53, 85, 0.7);
    padding: 0;
    font-size: 30px;
    vertical-align: top;
    z-index: 1000;
}

#nav-overlay {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
}

#nav-burger-sidebar {
    display: none;
    position: fixed;
    width: 70%;
    height: 100vh;
    z-index: 2000;
    top: 0;
    left: 0;
    background-color: #a03555;
    transform: translateX(-100%);
    transition: transform 0.2s ease-out;
};

#nav-burger-sidebar-header {
    height: 100px;
}

#nav-burger-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#nav-burger-sidebar a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 18px;
}

@media(max-width: 700px) {
    .top-nav {
        display: none;
    }

    #nav-burger-button {
        display: block;
    }  

    #nav-burger-sidebar {
        display: flex;
    }

    .nav-transparent {
        background-color: transparent;
        box-shadow: none;
    }
}

/* ****** FOOTER ********/

.footer-before-section {
    border-top: 50px solid white;
    border-left: 49vw solid white;
    border-bottom: 50px solid rgba(188, 65, 103, 0.7);
    border-right: 49vw solid white;
}

footer {
    height: 75px;
    width: 100%;
    background-color: rgba(188, 65, 103, 0.7);
    text-align: center;
    padding-bottom: 25px;
    color: white;
    
}

footer a {
    color: white;
    text-decoration: none;
}

.footer-networks a {
    font-size: 26px;
    margin: 10px;
}

.footer-mentions p {
    font-size: 12px;
}


/**************************/
/* ****** HOMEPAGE ********/
/**************************/

/* ****** HEADER **********/

.home-header {
    height: 100vh;
    align-items: center;
    padding: 0 20px 0 50px;
    display: flex;
    background: url('../images/home2.jpg') no-repeat;
    background-size: 55%;
    background-position: right;
}

.home-title-div {
    max-width: 40%;
    position: relative;
    text-align: center;
}

.home-title-div h1 {
    position: relative;
    font-size: 55px;
    margin-bottom: 30px;
    color: #a03555;
}

.home-header-btn {
    display: flex;
    justify-content: center
}

.home-header-btn button {
    display: flex;
}

.header-after-section {
    border-top: 50px solid white;
    border-left: 48vw solid whitesmoke;
    border-bottom: 48px solid whitesmoke;
    border-right: 50vw solid white;
}

@media(max-width: 950px) {

    .home-header {
        background-size: 80%;
        justify-content: center;
        align-items: flex-end;
        background-position: center;
    }

    .home-title-div {
        max-width: 100%;
        margin-bottom: 30px;
    }

    .home-title-div:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
        background-color: rgba(255,255,255,0.8);
        z-index: 0;
    }

    .home-title-div h1 {
        font-size: 50px;
        margin-top: 20px;
    }

    .home-title-div h2 {
        position: relative;
        margin-bottom: 20px;
    }

    .home-title-div .home-header-btn a {
        margin-bottom: 25px;
    }
}

@media (max-width: 450px) {
    .home-title-div h1 {
        font-size: 40px;
    }

    .home-title-div h2 {
        font-size: 20px;
    }

    .home-title-div .home-header-btn a {
        font-size: 14px;
    }

    .home-title-div .home-header-btn a:first-child {
        margin-bottom: 0;
    }


    .home-title-div .home-header-btn {
        flex-direction: column;
        align-items: center;
    }
}

/* ****** ABOUT **********/

.about-div {
    padding-top: 100px;
    padding-bottom: 135px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
}

.about-div .photo-div {
    min-width: 300px;
    position: relative;
}

.about-div .photo-div .photo {
    background: url('../images/photo.jpg') no-repeat;
    background-size: 100%;
    position: relative;
}

.about-div  .photo-div .photo:before {
    background-color: hsla(330, 5%, 8%, 0.624);
    content: "";
    position: absolute;
    top: 40px;
    left: 40px;
    z-index: -1;
}

.about-div .photo-div .photo, .about-div  .photo-div .photo:before {
    height: 300px;
    width: 250px;
    border-radius: 10%;
}

.about-div .about-text-div {
    max-width: 65%;
    margin-left: 50px;
}

.about-div .about-text-div p {
    text-align: justify;
}

@media(max-width: 900px) {
    .about-div {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .about-div .about-text-div {
        margin-left: 0;
        max-width: 95%;
        margin-top: 20px;
    }
}


@media(max-width: 400px) {
    .about-div .photo-div .photo, .about-div .photo-div .photo:before {
        height: 250px;
        width: 200px;
    }

    .about-div .photo-div .photo:before {
        top: 20px;
        left: 20px;
    }

    .about-div .photo-div .photo {
        margin: auto;
    }
}

.about-after-section {
    border-top: 50px solid whitesmoke;
    border-left: 50vw solid whitesmoke;
    border-bottom: 50px solid white;
    border-right: 48vw solid white;
}

/* ****** SKILLS **********/

.skills-div {
    padding-top: 25px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div-section-title {
    text-align: center;
    margin-bottom: 50px;
}

.div-section-title p {
    width: 80%;
    margin: auto;
}

.skills-div-skills {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.skills-card-div {
    min-width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.skills-card-div .skills-card-title {
    background-color: #EDC990;
    display: inline-block;
    padding: 15px 25px;
    position: relative;
    bottom: -30px;
    border-radius: 50px;
}

.skills-card-div .skills-card-title:before {
    content: "";
    height: 66px;
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: hsla(330, 5%, 8%, 0.624);
    border-radius: 50px;
}

.skills-card-div .skills-card-title h4 {
    color: #EDC990;
    z-index: 100;
    position: relative;
    text-transform: uppercase;
    margin: 0;
    font-size: 22px;
}

.skills-card-div .skills-card-content {
    background-color: whitesmoke;
    padding: 50px 15px 30px 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.skills-card-div .skills-card-content .skills-card-content-logo {
    display: flex;
    flex-direction: column;
}

.skills-card-div .skills-card-content .techno-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills-card-div .skills-card-content .techno-card img {
    margin-right: 20px;
}

.skills-card-div .skills-card-content .techno-level {
    display: flex;
}

.skills-plain-level {
    background-color: #edc990;
}

.skills-empty-level {
    background-color: white;
}

.skills-plain-level, .skills-empty-level {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    margin-right: 5px;
}

@media (max-width: 800px) {
    .skills-div .skills-div-skills {
        flex-direction: column;
    }

    .skills-div .skills-div-skills .skills-card-content {
        width: auto;
        padding-left: 50px;
        padding-right: 50px;
    }

    .skills-div .skills-div-skills .framework-div {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

.skills-after-section {
    border-top: 50px solid white;
    border-left: 48vw solid white;
    border-bottom: 50px solid whitesmoke;
    border-right: 50vw solid whitesmoke;
}

/* ****** PORTFOLIO **********/

.portfolio-div {
    justify-content: center;
    background-color: whitesmoke;
    padding-top: 25px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-div-realizations {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 10px;
    display: inline-grid;
    width: 100%;
    margin-bottom: 50px;
}

.realization-card {
    position: relative;
    border-radius: 5px;
    transform: scale(1);
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 200;
}

.mozaic-1, .mozaic-1:before {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.mozaic-2, .mozaic-2:before {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.mozaic-3, .mozaic-3:before {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.mozaic-4, .mozaic-4:before {
    grid-column: 3 / 5;
    grid-row: 2 / 4;
}

.mozaic-5, .mozaic-5:before {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

.realization-card:before {
    display: block;
    content: "";
    background-color: black;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    opacity: 0;
    transition: 0.7s;
}

.realization-card:hover {
    transform: scale(1.02);
    transition: transform 0.1s;
}

.realization-card:hover:before {
    opacity: 0.9;
}

.realization-card .realization-infos {
    opacity: 0;
    z-index: 1000;
    position: relative;
    text-align: center;
}

.realization-card:hover .realization-infos {
    opacity: 1;
}

.realization-card .realization-techno {
    margin-bottom: 30px;
}

.realization-card .realization-techno span {
    position: absolute;
    top: -8px;
    font-weight: bold;
    z-index: 2000;
    color: #fff;
    background-color: black;
    opacity: 0.9;
    padding: 0px 5px;
}

.realization-card .realization-techno p {
    position: relative;
    text-transform: uppercase;
    font-size: 11px;
    border: 1px solid white;
    padding: 10px;
}

.realization-card .realization-infos a {
    color: white;
    font-size: 28px;
    margin: 5px;
    text-decoration: none;
}

.portfolio-div .custom-btn {
    height: 24px;
    width: auto;
}

@media (max-width: 767px) {
    .mozaic-1, .mozaic-1:before {
        grid-column: 1 / 5;
        grid-row: 1 / 2;
    }
    
    .mozaic-2, .mozaic-2:before {
        grid-column: 1 / 5;
        grid-row: 2 / 4;
    }
    
    .mozaic-3, .mozaic-3:before {
        grid-column: 1 / 3;
        grid-row: 4 / 5;
    }
    
    .mozaic-4, .mozaic-4:before {
        grid-column: 3 / 5;
        grid-row: 4 / 5;
    }
    
    .mozaic-5, .mozaic-5:before {
        grid-column: 1 / 5;
        grid-row: 5 / 6;
    }
}

.portfolio-after-section {
    border-top: 50px solid whitesmoke;
    border-left: 48vw solid white;
    border-bottom: 50px solid white;
    border-right: 50vw solid whitesmoke;
}

/* ****** CONTACT FORM **********/

.contact-div {
    padding-top: 25px;
    padding-bottom: 50px;
    text-align: center;
}

.contact-infos {
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: space-around;
}

.contact-infos i {
    margin-right: 10px;
}

.contact-form-input {
    display: flex;
}

.contact-form-name, .contact-form-message {
    width: 50%;
}

.contact-form .contact-form-checkbox input {
    max-width: 5%;
}

.contact-form-submit {
    margin-top: 25px;
}

.contact-form input:hover, .contact-form input:focus, .contact-form textarea:hover, .contact-form textarea:focus {
    background-color: rgba(160, 53, 85, 0.2);
}

@media (max-width: 767px) {
    .contact-div .contact-infos {
        flex-direction: column;
    }

    .contact-div .contact-infos .custom-link {
        margin-bottom: 10px;
    }

    .contact-div .contact-form-input {
        flex-direction: column;
    }
    .contact-div .contact-form-input .contact-form-name, 
    .contact-div .contact-form-input .contact-form-message {
        width: 100%;
    }
}

/**************************/
/* ****** PORTFOLIO PAGE ********/
/**************************/
.realization-show-action {
    display: inline-flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 10px;
}

.realization-show-action button {
    border: none;
    background: none;
}

.page-content-show {
    text-align: center;
    padding-top: 0px;
}

.realization-gallery-div img {
    text-align: center;
    max-width: 75%;
}

.realization-show-infos {
    display: flex;
}

.realization-show-infos img {
    max-width: 50%;
}

.realization-show-links-div {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.realization-show-links-div i {
    margin-right: 10px;
}

.realization-description-div {
    text-align: center;
}

.realization-description-div ul {
    display: inline-block;
    text-align: justify;
    list-style-type: circle;
    margin: 0;
}

.realization-description-div img {
    margin: 10px;
}

.other-realizations-links {
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
}

.other-realizations-links i{
    margin-right: 10px;
    margin-left: 10px;
}

@media (max-width: 800px) {
    .page-content {
        padding-left: 30px;
        padding-right: 30px;
    }

    .page-content .portfolio-div-realizations {
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 0px;
    } 
}

@media (max-width: 650px) {
    .page-content .portfolio-div-realizations {
        grid-template-columns: repeat(2, 1fr);
    } 

    .page-content .realization-show-links-div span {
        display: none;
    }

    .page-content .realization-show-links-div i {
        margin-right: 0;
    }

    .page-content .other-realizations-links a {
        max-width: 40%;
        font-size: 12px;
    }
}

/********** LOGIN PAGE *******************/

.page-content-login form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ******** MENTIONS LEGALES **************/

.page-content #mentions {
    text-align: justify;
}