{% extends 'base.html.twig' %}

{% block title %}Error
{% endblock %}


{% block body %}
	<div class="home-header">
		<div class="home-title-div">
			<h1>Ooops</h1>
			<h2>Une erreur est survenue !</h2>
		</div>
	</div>
    
{% endblock %}